/* This is where styles are defined for your page. */
body{
	font-family:serif;
	background-image: url('images/sand.jpg');
}
header.page-header{
	height:100px;
	background-image:url('images/oldWALLpaper.jpg');   
}
.page-header h1{
  font-size:55px;
	text-shadow:5px 5px goldenrod; 
	color:white;
}
.page-header p{
	font-size:30px;
	text-shadow:3px 3px goldenrod;
	color:white
}
h1,h2,h3,h4,h5,h6{
	font-family:Candara;
}
aside.more-info{
	float:left;
	margin-right:0;
	border: 5px solid black;
	border-radius:20px;
	width:150px;
	
}
aside.more-info img {
	width:150px;
}
.poem{
	list-style-type:none;
	text-align:center;
	font-family:Verdana, Geneva, sans-serif;
	font-weight:bold;	
}
.poem li{
	line-height:30px;
	text-align:center;
	margin-left:0;
}
.page-header small{
    font-size: medium;
}
.page-header h1{
	margin-bottom:0;
}
.page-header p{
	margin-top:0;
}
.page-header{
	text-align:center;
}
.page-footer li{
	display:inline;
	padding:10px 30px;
}
.page-footer{
	background-image: url('images/oldWALLpaper.jpg');
	text-align:center;
	font-weight:bold;
	font-size:20px;
	color:white;
	text-shadow:2px 2px #8B0000;
}
.page-footer a{
	color:#8B0000;
	text-shadow:2px 2px goldenrod;
	line-height:10px;
	font-size:25px;
}


